html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

body {
    font-family: 'Courier New', Courier, monospace;
    color: #20229e;
    size: 3em;
    background-color: #333333;
}

.jumbotron {
    position:absolute;
    left:0px;
    top: 0px;
    z-index:3;
    background: rgba(59, 59, 59, 0.247);
}

div#map {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index:0;
}

div#legend {
    position:absolute;
    left:10px;
    top: 10px;
    z-index:3;
    background: rgba(33, 33, 33, 0.8);
}

.flags {
	display: flex;
    flex-wrap: wrap;
	padding: 5px;
	margin: 5px;
	display: flex;
    flex-direction: column-row;
    justify-content: left;
    text-align: right;
}


.inactive {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  }

.icon {
    width: 30px;
    height: 20px;
    box-shadow: 2px 1px 1px gray;
}

.icon:hover {
    width: 30px;
    height: 20px;
    box-shadow: 1px 1px 1px gray;
}
  
  /* Disable grayscale on hover */
.inactive:hover {
    -webkit-filter: grayscale(0);
    filter: none;
  }

.favorites {
    font-weight: bold;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}