html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
body {
    font-family: 'Courier New', Courier, monospace;
    color: #60c4f7;
    background-color: #333333;
}

.jumbotron {
    background: rgba(33, 33, 33, 0.8);
}

#map {
    height: 75%;
    width: 75%;
  }

  .restaurants-map {
    height: 700px;
    position: relative
}

.restaurants-map .google-map {
    height: 700px
}

.restaurants-map .google-map .gm-style-iw h4 {
    margin-top: 0
}

.restaurants-map .google-map .gm-style-iw a {
    color: #2e3768
}

.restaurants-map .google-map-legend {
    background: #333333;
    background: rgba(33, 33, 33, 0.8);
    font-size: 14px;
    left: 30px;
    top: 30px;
    padding: 30px;
    position: absolute
}

.restaurants-map .google-map-legend h2 {
    border-bottom: black solid 1px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 8px;
    margin-top: 0;
    padding-bottom: 15px;
    text-transform: uppercase
}

.restaurants-map .google-map-legend p {
    font-family: sans-serif;
    font-weight: 300
}

.restaurants-map .google-map-legend ul.google-map-categories {
    letter-spacing: 2px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase
}

.restaurants-map .google-map-legend ul.google-map-categories li {
    margin-bottom: 5px
}

.restaurants-map .google-map-legend ul.google-map-categories li .google-map-category-toggle {
    color: #ebebeb;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    padding-top: 2px;
    text-align: center;
    width: 20px;
    height: 20px
}

.restaurants-map .google-map-legend ul.google-map-categories li .google-map-category-toggle span {
    opacity: 0;
    filter: alpha(opacity=0)
}

.restaurants-map .google-map-legend ul.google-map-categories li.google-map-category-american .google-map-category-toggle {
    content:url("../img/google-icon-american.png")
}

.restaurants-map .google-map-legend ul.google-map-categories li.google-map-category-mexican .google-map-category-toggle {
    content:url("../img/google-icon-mexican.png")
}

.restaurants-map .google-map-legend ul.google-map-categories li.google-map-category-thai .google-map-category-toggle {
    content:url("../img/google-icon-thai.png")
}

.restaurants-map .google-map-legend ul.google-map-categories li.google-map-category-chinese .google-map-category-toggle {
    content:url("../img/google-icon-chinese.png")
}

.restaurants-map .google-map-legend ul.google-map-categories li.google-map-category-indian .google-map-category-toggle {
    content:url("../img/google-icon-indian.png")
}

.restaurants-map .google-map-legend ul.google-map-categories li.google-map-category-japanese .google-map-category-toggle {
    content:url("../img/google-icon-japanese.png")
}

.restaurants-map .google-map-legend ul.google-map-categories li.google-map-category-korean .google-map-category-toggle {
    content:url("../img/google-icon-korean.png")
}

.restaurants-map .google-map-legend ul.google-map-categories li.google-map-category-vietnamese .google-map-category-toggle {
    content:url("../img/google-icon-vietnamese.png")
}

.restaurants-map .google-map-legend ul.google-map-categories li:hover {
    cursor: pointer;
    opacity: 0.8;
    filter: alpha(opacity=80)
}

.restaurants-map .google-map-legend ul.google-map-categories li:hover .google-map-category-toggle span {
    opacity: 0.2;
    filter: alpha(opacity=20)
}

.restaurants-map .google-map-legend ul.google-map-categories li.active .google-map-category-toggle span {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important
}


.flags {
	display: flex;
    flex-wrap: wrap;
	padding: 5px;
	margin: 5px;
	display: flex;
    flex-direction: column-row;
    justify-content: left;
    text-align: right;    
}


.inactive {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  }

.icon {
    width: 30px;
    height: 20px;
}
  
  /* Disable grayscale on hover */
.inactive:hover {
    -webkit-filter: grayscale(0);
    filter: none;
  }